body{
    background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.searchbar-box{
    margin: auto;
    border-radius: 14px;
    width: 60%;
    height: fit-content;
    padding: 3px;
    background-color: rgb(221, 233, 244);

    display: grid;
    grid-template-columns: 1fr repeat(2, 40px);
    grid-column-gap: 10px;
}

#search-box{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 14px;
    font-size: 16px;
    background-color: white;
    background-image: url('../res/img/search_icon.png');
    background-position: 10px center; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

    border: none;
    outline: none;

    transition: 0.3s;

    text-overflow: ellipsis;
}

#search-box:hover{
    background-color: rgb(245, 245, 245);
}

#search-box:focus{
    background-color: rgb(235, 235, 235);
    border: none;
    outline: none;
}

.search-buttons{
    display: inline;
    margin: auto;
    height: 34px;
    padding: 2px;
    background-color: white;
    border-radius: 14px;
}

.search-buttons:hover{
    background-color: rgb(245, 245, 245)
}